---
layout: base
title: "Agorava Event Calendar"
---
.row
  .span12
    %iframe{:frameborder => "0", :width => "100%", :height => "650px", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showCalendars=0&mode=AGENDA&height=600&wkst=2&bgcolor=%23FFFFFF&src=ttnv2snkbbprldf5d07m558mto%40group.calendar.google.com&color=%23B1440E&ctz=Etc%2FGMT", :style => " border-width:0 "}