---
layout: base
---
.hero-unit
  %h1 Welcome to Agorava
  %p  Agorava is a Java framework that ease connexion and interaction with Social Media and Online services 
  %p
    -#%a.btn.btn-primary.btn-large{ :href=>'http://awestruct.org' }
      -#%i.icon-info-sign.icon-white
      -#Learn more &raquo;
.row
  .span6
    %h2 Status
    %p
      Agorava is in bootstrap phase right now. It'll inherit from project like
      %a{ :href=>"https://github.com/seam/social" } Seam Social
      and
      %a{ :href=>"http://java.net/projects/dalicore "} Dalicore
    %p
      %a.btn{ :href=>'http://github.com/agorava' } Github repos &raquo; 
  .span6
    %h2 News
    %p
      Agorava Project started on May 1st. We are discussing release 0.1 right now
    %p
      %a.btn{ :href=>'http://twitter.com/AgoravaProj' } Follow us on Twitter &raquo; 
  