---
layout: base
---
.row
  .span9
    = partial('post.html.haml', {'parent'=>page, 'post'=>page, 'alone' => true})
  
  .span3
    %aside.hidden-phone
      %ul.nav.nav-list.well
        %li.nav-header
          Tag Cloud
        %li
          = site.posts_tag_cloud
          
    %aside.visible-phone
      %ul.nav.nav-list.well
        %li.nav-header
          Tag Cloud
        %li
          = site.posts_tag_cloud
      